.img1 {
    background: url("https://static.web.sdo.com/dn/pic/dn_act/wallpaper/0622bz/1920x1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://static.web.sdo.com/dn/pic/dn_act/wallpaper/0622bz/1920x1200.jpg',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://static.web.sdo.com/dn/pic/dn_act/wallpaper/0622bz/1920x1200.jpg',sizingMethod='scale')";
}
.img2 {
    background: url("https://static.web.sdo.com/dn/pic/dn_act/wallpaper/0521bz/1920x1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://static.web.sdo.com/dn/pic/dn_act/wallpaper/0521bz/1920x1200.jpg',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://static.web.sdo.com/dn/pic/dn_act/wallpaper/0521bz/1920x1200.jpg',sizingMethod='scale')";
}
.img3 {
    background: url("https://static.web.sdo.com/dn/pic/dn_act/wallpaper/shzg/1920x1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://static.web.sdo.com/dn/pic/dn_act/wallpaper/shzg/1920x1200.jpg',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://static.web.sdo.com/dn/pic/dn_act/wallpaper/shzg/1920x1200.jpg',sizingMethod='scale')";
}
.img4 {
    background: url("https://static.web.sdo.com/dn/pic/dn_act/wallpaper/snx/1920x1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://static.web.sdo.com/dn/pic/dn_act/wallpaper/snx/1920x1200.jpg',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://static.web.sdo.com/dn/pic/dn_act/wallpaper/snx/1920x1200.jpg',sizingMethod='scale')";
}
.img5 {
    background: url("https://static.web.sdo.com/dn/pic/dn_act/wallpaper/jfl/1920x1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://static.web.sdo.com/dn/pic/dn_act/wallpaper/jfl/1920x1200.jpg',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://static.web.sdo.com/dn/pic/dn_act/wallpaper/jfl/1920x1200.jpg',sizingMethod='scale')";
}
.img6 {
    background: url("https://static.web.sdo.com/dn/pic/dn_act/wallpaper/xr/1920x1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://static.web.sdo.com/dn/pic/dn_act/wallpaper/xr/1920x1200.jpg',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://static.web.sdo.com/dn/pic/dn_act/wallpaper/xr/1920x1200.jpg',sizingMethod='scale')";
}
.img7 {
    background: url("https://static.web.sdo.com/dn/pic/dn_act/wallpaper/ckz/1920x1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://static.web.sdo.com/dn/pic/dn_act/wallpaper/ckz/1920x1200.jpg',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://static.web.sdo.com/dn/pic/dn_act/wallpaper/ckz/1920x1200.jpg',sizingMethod='scale')";
}
.img8 {
    background: url("https://static.web.sdo.com/dn/pic/dn_act/wallpaper/hlj/1920x1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://static.web.sdo.com/dn/pic/dn_act/wallpaper/hlj/1920x1200.jpg',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://static.web.sdo.com/dn/pic/dn_act/wallpaper/hlj/1920x1200.jpg',sizingMethod='scale')";
}
.img9 {
    background: url("https://static.web.sdo.com/dn/pic/dn_act/wallpaper/hlg/1920x1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://static.web.sdo.com/dn/pic/dn_act/wallpaper/hlg/1920x1200.jpg',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://static.web.sdo.com/dn/pic/dn_act/wallpaper/hlg/1920x1200.jpg',sizingMethod='scale')";
}
.img10 {
    background: url("https://static.web.sdo.com/dn/pic/dn_act/wallpaper/hlx/1920x1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://static.web.sdo.com/dn/pic/dn_act/wallpaper/hlx/1920x1200.jpg',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://static.web.sdo.com/dn/pic/dn_act/wallpaper/hlx/1920x1200.jpg',sizingMethod='scale')";
}
body {
    background-size: cover;
}
.content {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.modal {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    color: #333;
    font-family: sans-serif;
    line-height: 1.5;
    max-width: 100%;
    padding: 1rem 2rem;
    a {
      color: #bf0222;
    }
  }
  
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .modal {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.5);  
    }
    .warning {
      display: none;
    }
  }